<footer class="container-fluid bg-light">
     <div class="row">
          <section class="col">Colone 1</section>
          <section class="col">Colone 2</section>
          <section class="col">Colone 3</section>
     </div>
</footer>